.field {
    width: 100%;
    /* display: flex; */
    position: relative;
}

.input {
    width: 100%;
    position: relative;
    font-size: 1.1em;
    border: 0px;
    border-radius: 5px;
    z-index: 1;
    outline: none;
    padding: 4px 15px;
    transition: 0.2s ease;
    background-color: transparent;
    border: 1px solid white;
}

.label {
    position: absolute;
    left: 0;
    top: 4px;
    color: white;
    /* z-index: 1; */
    font-size: 1em;
    padding: 0px 3px;
    margin: 0 20px;
    transition: 0.2s ease;
    background-color: var(--background-secondary-color);
}

.input:focus,
.input:valid {
    color: green;
    border: 1px solid green;
}

.input:focus + .label,
.input:valid + .label {
    color: green;
    transform: translate(-15px, -16px) scale(0.88);
    padding: 0px 5px;
    z-index: 2;
}

textarea {
    max-height: 100px;
}

.error {
    padding: 0px 8px;
    color: red;
}