.rightpanel_container {
    width: 100%;
    height: 98vh;
    /* background-color: var(--background-secondary-color); */
    /* display: flex;
    justify-content: center; */
    align-content: center;
}

.rightpanel_card {
    width: 100%;
    height: 80%;
    background-color: var(--background-secondary-color);
    border-radius: 20px;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    overflow: hidden;
    display: grid;
}

.rightpanel_card_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    /* 
    Custom Scroll Bar
    */
    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.1);
        border-radius: 3px;
     
        &:hover {
            background: rgba(255,255,255,.2);
        }
    }
}

/* .leftpanel_card > .content {
    position: relative;
    height: 100%;
}

.leftpanel_card > .content > .image {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: red;
}

.leftpanel_card > .content > .text {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 40%;
    background-color: rgb(0, 51, 255);
}

.leftpanel_card > .content > .text:before {
    backdrop-filter: blur(8px);
}

.leftpanel_card > .content > .text > .title {
    text-align: center;
    font-size: 30px;
}

.leftpanel_card > .content > .text > .short_desc {
    text-align: center;
} */

section {
    padding: 10px 20px;
}

section > .title {
    padding: 0px 0px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

section > .title::after {
    /* content: "";
    width: 57px;
    height: 4px;
    background-color: red;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 20px; */
    /* margin: 0px 22px; */
    content: "";
    position: absolute;
    bottom: -5px;
    width: 72px;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

section > .title > label {
    font-size: 40px;
    text-transform: capitalize;
}

section > .title > span {
    position: absolute;
    top: 24px;
    left: 51px;
    font-size: 45px;
    filter: blur(2px);
    color: #646464;
    font-weight: 700;
    z-index: -2;
}